<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <meta name="keywords" content="">
    <link rel="shortcut icon" href="favicon.ico"> 
    <link href="/static/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="/static/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">

    <link href="/static/css/animate.min.css" rel="stylesheet">
    <link href="/static/css/style.min862f.css?v=4.1.0" rel="stylesheet">

</head>

<body class="gray-bg">
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-md-3">
				<h1>作者信息</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div style="font-size: 18px;font-family: Microsoft YaHei;text-indent: 36px;line-height: 30px;">
					<p>
						陈许良，河南中医药大学学生。擅长Linux操作系统的管理和优化，也会时常使用python语言写一些小工具，以供简化工作和管理操作系统。个人联系方式如下：
					</p>
					<p>电话：13253641509</p>
					<p>邮箱：13253641509@qq.com</p>
				</div>
			</div>
		</div>
	</div>
    <script src="/static/js/jquery.min.js?v=2.1.4"></script>
    <script src="/static/js/bootstrap.min.js?v=3.3.6"></script>
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>
</body>
</html>

